<section class="py-5" id="edit-trip-page">
    <div class="container edit">
        <h1>Edit your initiative</h1>
        <div>
            <form action="/data/edit/{{init._id}}" method="POST">
                <div class="offer-label">
                    <label for="category"> <i class="fas fa-map-marker-alt"></i> Category </label>
                    <label for="image"> <i class="fas fa-map-marker-alt"></i> Title </label>
                </div>
                <div class="form-group offer-input margin: auto">
                    <select class="form-control-2" id="category" name="category">
                        <option value="Environment" >Environment</option>
                        <option value="Society">Society</option>
                        <option value="Be Inspired">Be inspired</option>
                    </select>
                    <input type="text" class="form-control-2" id="title" placeholder="..." name="title"
                        value="{{init.title}}">
                </div>
                <div class="offer-label">
                    <label for="location"> <i class="fas fa-map-marker-alt"></i> Location </label>
                    <label for="image"> <i class="fas fa-map-marker-alt"></i> Image </label>
                </div>
                <div class="form-group offer-input">
                    <input type="text" class="form-control-2" id="location" placeholder="..." name="location"
                        value="{{init.location}}">
                    <input type="text" class="form-control-2" id="img" placeholder="https://..." name="img"
                        value="{{init.img}}">
                </div>
                <div class="offer-label">
                    <label for="date"> <i class="far fa-calendar-alt"></i> Date</label>
                    <label for="time"> <i class="far fa-clock"></i> Time</label>
                </div>
                <div class="form-group offer-input">
                    <input type="date" class="form-control-2" id="date" placeholder="18 May 2021" name="date"
                        value="{{init.date}}">
                    <input type="time" class="form-control-2" id="time" placeholder="19:00 PM" name="time"
                        value="{{init.time}}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Information about your initiative"
                        name="description">{{init.description}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>